@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Zen Dots', cursive;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}
